configuration {
  modi: "drun,run";
  terminal: "gnome-terminal";
	font: "FiraCode";
	drun-display-format: "{name}";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "catppuccin-latte"